<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>


<body>
    <div class="site-wrapper d-flex flex-column min-vh-100">
        {{> navbar}}

        <main class="flex-fill">
            <div class="grid">
                <div id="carouselExampleIndicators" class="carousel slide item-carousel" data-bs-ride="carousel"
                    data-bs-interval="5000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/comp.jpeg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/mt.jpeg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/g.jpg" class="d-block w-100">
                        </div>
                    </div>
                </div>

                <div class="item-text">
                    <p>Hi! My name is Ryan Murray and I am currently a Junior majoring in Computer Science
                        at the University of Colorado, Boulder. This website was created as a personal project to
                        showcase my skills
                        in web development and to share more about myself. I have a passion for coding and enjoy
                        learning new technologies.
                        In my free time, I like to ski, golf, work on personal coding projects, and hangout with my
                        family. Feel free to explore my website to learn more about me and my work!
                    </p>
                </div>


        </main>

        {{> footer}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace();
    </script>
</body>

</html>