.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-wrapper main {
    flex: 1 0 auto;
}

footer {
    background-color: #ffffff;
    color: #6c757d;
    border-top: 1px solid #e9ecef;
    padding: 0;
}

footer .container {
    max-width: 1100px;
}

.footer-icon svg {
    width: 28px;
    height: 28px;
    stroke: #000;
    transition: 0.3s;
}

.footer-icon svg:hover {
    stroke: #555;
}

.footer-icon {
    text-decoration: none;
}


@media (max-width: 576px) {
    footer .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}