body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid red;
    padding: 0;
}

.carousel-slide {
    position: absolute;
    top: 50px;
    left: 50px;
    overflow: hidden;
}